
* {
    margin: 0;
    padding: 0;
    font-family: "Verdana", sans-serif;
}

html {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
    /* Sets the background colour for space: */
    background-color: red;
    /* This would look better as a dark blue! */


    width: 100%;
    min-height: 100vh;
}
